<nav class="ui menu">
  
  <div class="ui button">
    <%= link_to 'Home', boards_path %>
  </div>

  <div class='right menu'>
    <button class="ui button">
    <iframe src="http://free.timeanddate.com/clock/i71b425o/n220/fs15/fti/bas0/bat5/tt0/tw1/tm1/ts1/tb2" frameborder="0" width="235" height="19">
    </iframe>
    </button>
  </div>
  
</nav>
  